{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h6>Hello everyone, </h6>
        <p>My name is Fatih, and I'm here to introduce myself to you in hopes of applying for a job related to web development.

        I have a bachelor's degree in Computer Science and have been involved in web development for the past 5 years. During this time I have gained a great deal of technical knowledge and experience in HTML, CSS, JavaScript, Python and other web development languages. I also have experience building and managing web applications and websites for a variety of clients.
        </p>
        <p>I have a passion for web development and I'm always looking for new ways to improve my skills. I'm a quick learner and I'm comfortable working in a fast-paced environment. I'm confident that I bring the right mix of experience and enthusiasm to this position.

        Moreover, I'm an excellent communicator and team player. I'm great at working with clients to make sure their needs are met, and I'm also great at working with a team to ensure projects are delivered on time and within budget.
        </p>
        <p>I'm confident I will be an asset to your organization, and I'm excited to learn more about the web development position with you.
          Thank you for your time and consideration.</p>
      </div>
    </div>
  </div>

  <hr>


  {% include "footer.html" %}